﻿
@{
    ViewBag.Title = "AddProduct";
}

<h2>Add a new product</h2>

<form method="post" action="SubmitProduct">
    <table>
        <tr>
            <td>Product name:</td>
            <td><input type="text" name="ProductName"  /></td>
        </tr>
        <tr>
            <td>Product kind:</td>
            <td><input type="text" name="Kind"  /></td>
        </tr>
        <tr>
            <td>Product folk name:</td>
            <td><input type="text" name="FolkName" /></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td>
                <input type="text" name="Color" />
            </td>
        </tr>
        <tr>
            <td>Origin:</td>
            <td><input type="text" name="Origin"/></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description"/></td>
        </tr>
        <tr>
            <td>Cost:</td>
            <td><input type="text" name="CostKG"/></td>
        </tr>
        <tr>
            <td>Stock:</td>
            <td><input type="text" name="StockAmountKG"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Submit" />
            </td>
        </tr>
    </table>
</form>