﻿@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Admin Product</h2>

<table border="1">
    <tr>
        <th>Naziv</th>
        <th>Vrsta</th>
        <th>Narodno ime</th>
        <th>Boja</th>
        <th>Poreklo</th>
        <th>Opis</th>
        <th>Cena po kg</th>
        <th>Na stanju</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.Product product in Model)
    {
        <tr>
            <td>@product.ProductName</td>
            <td>@product.Kind</td>
            <td>@product.FolkName</td>
            <td>@product.Color</td>
            <td>@product.Origin</td>
            <td>@product.Description</td>
            <td>@product.CostKG</td>
            <td>@product.StockAmountKG kg</td>
            <td>
                <form method="post" action="~/Admin/ChangeProduct">
                    <input type="hidden" value="@product.ProductName" name="productName" />
                    <input type="submit" value="Change" />
                </form>
            </td>
        </tr>
    }
</table>
<a href="~/Admin/AddProduct">Add a new product</a>