﻿@model WebApplication1.Models.Product
@{
    ViewBag.Title = "ChangeProduct";
}

<h2>Change Product </h2>

<form method="post" action="ConfirmChangeProduct">
    <table>
        <tr>
            <td>Product name:</td>
            <td><input type="text" name="ProductName" value="@Model.ProductName" /></td>
        </tr>
        <tr>
            <td>Product kind:</td>
            <td><input type="text" name="Kind" value="@Model.Kind" /></td>
        </tr>
        <tr>
            <td>Product folk name:</td>
            <td><input type="text" name="FolkName" value="@Model.FolkName" /></td>
        </tr>
        <tr>
            <td>Color:</td>
            <td>
                <input type="text" name="Color" value="@Model.Color" />
            </td>
        </tr>
        <tr>
            <td>Origin:</td>
            <td><input type="text" name="Origin" value="@Model.Origin" /></td>
        </tr>
        <tr>
            <td>Description:</td>
            <td><input type="text" name="Description" value="@Model.Description" /></td>
        </tr>
        <tr>
            <td>Cost:</td>
            <td><input type="text" name="CostKG" value="@Model.CostKG" /></td>
        </tr>
        <tr>
            <td>Stock:</td>
            <td><input type="text" name="StockAmountKG" value="@Model.StockAmountKG" /></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Save" />
                <input type="hidden" name="oldProductName" value="@Model.ProductName" />
            </td>
        </tr>
    </table>
</form>