﻿@model IEnumerable<WebApplication1.Models.User>
@{
    ViewBag.Title = "Index";
}

<h2>Koriscici</h2>

<table border="1">
    <tr>
        <th>Username</th>
        <th>Password</th>
        <th>Name</th>
        <th>Last name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Date of birth</th>
        <th>Active account</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.User user in Model)
    {
        if (user.Role != WebApplication1.Models.Role.Customer)
        {
            continue;
        }
    <tr>
        <td>@user.Username</td>
        <td>@user.Password</td>
        <td>@user.Name</td>
        <td>@user.LastName</td>
        <td>@user.Gender</td>
        <td>@user.Email</td>
        <td>@user.DateOfBirth.ToString("dd/MM/yyyy")</td>
        <td>@user.Active </td>
        <td>
            <form method="post" action="~/Admin/DeleteOrRestoreUser">
                <input type="submit"  value="Change">
                <input type="hidden" name="username" value="@user.Username" />
            </form>
        </td>

    </tr>
    }

</table>