﻿@model  List<string>
@{
    ViewBag.Title = "NewProductError";
}

<h2>New Product Error</h2>

@foreach (string error in Model)
{
    <h3 style="color:red">@error</h3>
}



<a href="~/Product">Back</a>