﻿@model WebApplication1.Models.Product
@{
    ViewBag.Title = "BuyProduct";
}

<h2>Kupi artikal @Model.ProductName</h2>

<form method="post" action="~/Product/MakeOrder">
    <table>
        <tr>
            <td>Product kind: @Model.Kind</td>
        </tr>
        <tr>
            <td>Product folk name: @Model.FolkName</td>
        </tr>
        <tr>
            <td>Color: @Model.Color</td>
        </tr>
        <tr>
            <td>Origin: @Model.Origin</td>
        </tr>
        <tr>
            <td>Description: @Model.Description</td>
        </tr>
        <tr>
            <td>Cost: @Model.CostKG</td>
        </tr>
        <tr>
            <td>Stock: @Model.StockAmountKG</td>
        </tr>
        <tr>
            <td>
                Kolicina:
                <input type="text" name="amount" />
                <input type="hidden" name="productName" value="@Model.ProductName" />
                <input type="submit" value="Kupi" />
            </td>
        </tr>
    </table>
</form>

