﻿@model IEnumerable<WebApplication1.Models.Product>
@{
    ViewBag.Title = "Index";
}

<h2>Products</h2>

<table border="1">
    <tr>
        <th>Naziv</th>
        <th>Vrsta</th>
        <th>Narodno ime</th>
        <th>Boja</th>
        <th>Poreklo</th>
        <th>Opis</th>
        <th>Cena po kg</th>
        <th>Na stanju</th>
        <th>&nbsp;</th>
    </tr>
    @foreach (WebApplication1.Models.Product product in Model)
    {
        if (product.StockAmountKG <= 0)
        {
            continue;
        }
    <tr>
        <td>@product.ProductName</td>
        <td>@product.Kind</td>
        <td>@product.FolkName</td>
        <td>@product.Color</td>
        <td>@product.Origin</td>
        <td>@product.Description</td>
        <td>@product.CostKG</td>
        <td>@product.StockAmountKG kg</td>
        <td>
            <form method="post" action="~/Product/BuyProduct">
                <input type="submit" value="Kupi" />
                <input type="hidden" name="productName" value="@product.ProductName" />
            </form>
        </td>
    </tr>
    }

</table>
<!--<a href="~/Home/Download_Excel_File" />-->
Sortiraj po:
<form action="~/Product/SortName" method="post">
    <input type="submit" value="Imenu" />
</form>
<form action="~/Product/SortCost" method="post">
    <input type="submit" value="Ceni" />
</form>

<form action="~/Product/SortKind" method="post">
    <input type="submit" value="Vrsti" />
</form>

Pretraga po imenu:
<form action="~/Product/SearchName" method="post">
    <input type="text" name="nameSearch" />
    <input type="submit" value="Pretraži" />
</form>

Pretraga po vrsti:
<form action="~/Product/SearchKind" method="post">
    <input type="text" name="kindSearch" />
    <input type="submit" value="Pretraži" />
</form>

Opseg cene:
<form method="post" action="~/Product/SearchCost">
    Od:<input type="text" name="costLower" value="0"/>
    Do:<input type="text" name="costHigher" value="0"/>
    <input type="submit" value="Pretraži" />
</form>

<a href="~/Product" >Prikaži sve</a>





