﻿@model IEnumerable<WebApplication1.Models.Order>
@{
    ViewBag.Title = "Orders";
}

<h2>Orders</h2>


@foreach (WebApplication1.Models.Order order in @Model)
{
    <table border="1">
        <tr>
            <td>
                @order.ProductName (@order.FolkName)
            </td>
        </tr>
        <tr>
            <td>Kolicina: @order.AmountKG</td>
        </tr>
        <tr>
            <td>Ukupna cena: @order.Cost</td>
        </tr>
        <tr>
            <td>Datum narudzbe: @order.TimeOfOrder.ToString("dd/MM/yyyy")</td>
        </tr>
    </table>

}


