﻿@model WebApplication1.Models.User
@{
    ViewBag.Title = "Index";
}

<h2>Login</h2>
@if (Model is null || Model.Username is null)
{
    <form action="~/Authentication/LoginAttempt" method="post">
        <table>
            <tr>
                <td>Username:</td>
                <td><input type="text" name="username" /></td>
            </tr>
            <tr>
                <td>Password:</td>
                <td><input type="password" name="password" /></td>
            </tr>
            <tr>
                <td colspan="2">
                    <input type="submit" value="Login" />
                </td>
            </tr>
        </table>
    </form>

    <form action="~/Authentication/RegisterForm" method="post">
        <table>
            <tr>
                <td>
                    <h1>Nemate nalog?</h1>
                    <input type="submit" value="Register" />
                </td>
            </tr>
        </table>
    </form>

    <a href="~/Product/">Market</a>
}
else
{
    <h1>Vec ste ulogovani</h1>
    <a href="~/Home">Home</a>
    <a href="~/Product">Market</a>

    <a href="~/Authentication/LogOut">Log out</a>
}
