﻿@model List<string>
@{
    ViewBag.Title = "RegisterError";
}

<h2>Greška pri registraciji</h2>

@foreach (string error in Model)
{
    <h3 style="color:red">@error</h3>
}

<a href="~/Authentication/RegisterForm">Nazad</a>
