﻿@model WebApplication1.Models.User
@{
    ViewBag.Title = "Home Page";
}

<form method="get" action="~/Product/Index">
    <input type="submit" value="Market">
</form>

@if (Model.Role == WebApplication1.Models.Role.Admin)
{
    <form method="get" action="~/Admin/Index">
        <input type="submit" value="Admin manage users">
    </form>

    <form method="get" action="~/Admin/AdminProduct">
        <input type="submit" value="Admin manage products">
    </form>
}
@if (Model.Role == WebApplication1.Models.Role.Customer)
{
    <form method="get" action="~/Product/Orders">
        <input type="submit" value="Pregled narudzbina">
    </form>
}


<a href="~/Authentication/LogOut">Log out</a>























<!--
<div class="jumbotron">
    <h1>E-Piajca</h1>
    <p class="lead">E-Pijaca je najbezbedniji i ugodniji nacin da nabavite zdravu hranu tokom ove pandemije.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Todo:poseti shop
        </p>
    </div>
    <div class="col-md-4">
        <h2>TODO 2</h2>
        <p>Todo2</p>
    </div>
</div>
-->
